<!DOCTYPE html>
<html>
<head>
     <title>Simple upload Example</title>
</head>
<body>
<form action="/campgrounds/new/addpic" enctype="multipart/form-data" method="POST">
    <input type="file" name="upload">
    <input type="submit" value="Upload">
</form>
<a href="/campgrounds/new">Go Back</a>
</body>
</html>
